/czarny_kot_project/.env
/.idea
/czarny_kot_project/db.sqlite3
/czarny_kot/static/assets/img/marco-kot2.webp
/czarny_kot/__pycache__/
/.env
/unused/
/czarny_kot/static/
/posts/static/

!/catalog/ukd.py
