/* force light them even in dark mode */
:root {
  color-scheme: only light;
}

/* some tricks for facebook icon */
.overlay-it img {
  transition: .9s ease-in-out;
}

.overlay-it img:hover {
	filter: grayscale(100%);
    transform: rotate(360deg);
}

/* --- POST TEXT TUNNING --- */

/* make video (inside posts responsive. 75% width on larger screens */
/* be sure proportions are right */
.lead iframe {
  width: 75%;
  aspect-ratio: 16/9;
}

/* links colors in leads and content of a post */
.lead a:link {
  color: #000;
}

/* visited link */
.lead a:visited {
  color: #6c757d;;
}

/* mouse over link */
.lead a:hover {
  color: #adb5bd;
}

/* selected link */
.lead a:active {
  color: #adb5bd;
}

/* -- END POST TUNNING -- */
/* divider on the front page */
.section-divider {
  display:flex;
  align-items: center;
}

.section-divider .line {
  height: 1px;
  flex: 1;
  margin: 5rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: .25;
}

.section-divider .h1 {
  text-align: center;
}

 /* how collapse should looks like */
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: 0.01s;
  transition-timing-function: ease;
}

.collapse-button {
  text-align: center;
}

.collapse-button a.collapsed:after  {
    content: 'Rozwiń';
}

.collapse-button a:not(.collapsed):after {
    content: 'Zwiń';
}

.collapse-button .wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.collapse-button a {
  display: inline-block;
  font-size: 1rem;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
}

.collapse-button a:hover {
  letter-spacing: 15px;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.sticky-top {
  top: 70px;
}
/*.btn-bd-primary {*/
/*  --bd-violet-bg: #712cf9;*/
/*  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;*/

/*  --bs-btn-font-weight: 600;*/
/*  --bs-btn-color: var(--bs-white);*/
/*  --bs-btn-bg: var(--bd-violet-bg);*/
/*  --bs-btn-border-color: var(--bd-violet-bg);*/
/*  --bs-btn-hover-color: var(--bs-white);*/
/*  --bs-btn-hover-bg: #6528e0;*/
/*  --bs-btn-hover-border-color: #6528e0;*/
/*  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);*/
/*  --bs-btn-active-color: var(--bs-btn-hover-color);*/
/*  --bs-btn-active-bg: #5a23c8;*/
/*  --bs-btn-active-border-color: #5a23c8;*/
/*}*/

/* change way of displaying content on smaller screens */
@media (max-width: 991px) {

  /* video (youtube inside post) fit whole column on smaller screen */
  .lead iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }

  /* force images on smaller screens to fill whole column */
  .lead img {
    width: 100% !important;
  }

  .mobile {
    display: flex;
    flex-direction: column;
  }

  /* order stuff on smaller screen - featurette */
  .mobile-second {
    display: block;
    order: 2;
    margin-bottom: 1.5rem;
  }

  .mobile-first {
    order: 1;
    font-size: larger;
    margin-bottom: 0.8rem;
  }

  .mobile-third {
    display: block;
    order: 3;
  }
}
