#jazzy-sidebar ul {
    width: 86%;
}

.field-photo_carousel_imgur label .col-sm-3 {
    width: 8.60%;
}

thead {
    background: #6C757D;
}

.text a {
    color: #ffff !important;
    font-weight: 900 !important;
}

th.field-carousel_title {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: lighter;
    padding-left: 1.5rem !important;
}

@media (min-width: 576px) {
    .field-photo_carousel_imgur label.col-sm-3 {
        max-width: 10%;
    }
   .field-photo_feat_imgur label.col-auto {
        max-width: 8.33%;
    }

}