<!-- Modal -->
<div class="modal modal-sm fade " id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog float-end">
    <div class="modal-content">
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">
           <div class="d-flex justify-content-end">
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="form-group">
              <div class="mb-3">
                 <label class="form-label text-white" for="inputLogin">Login</label>
                 <input id="inputLogin" type="text" name="user" placeholder="Użytkownik" onfocus="this.placeholder = 'podaj nazwę użytkownika'" onblur="this.placeholder = 'Użytkownik'" required class="form-control">
              </div>
              <div class="mb-3 mt-1">
                 <label class="form-label text-white" for="inputPassword">Hasło</label>
                 <input id="inputPassword" type="password" name="password" placeholder="Podaj hasło" onfocus="this.placeholder = 'podaj hasło'" onblur="this.placeholder = 'Hasło'" required class="form-control">
              </div>
           </div>
           <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-md btn-dark">Zaloguj</button>
           </div>
        </div>
      </form>
    </div>
  </div>
</div>

