{% load static %}
{% load custom_tags %}
<!doctype html>
<html lang="pl" data-bs-theme="light">
  <head>
    <meta name="facebook-domain-verification" content="igq8frguk521glg327h31xw3ddsjj3" />
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="6cd87469-8d8a-4ec0-9479-cb5a4de6cfba" data-blockingmode="auto" type="text/javascript"></script>
    {# {% include 'components/google_analitycs.html' %}#}
    {# <script src="{% static 'czarny_kot/bootstrap-5.3.2/js/dist/color-modes.js' %}"></script> #}
    {# <script async defer src="https://nocookieanalytics.com/latest.js"></script>#}
    <script defer async data-host="czornykot.pl" src="https://liteanalytics.com/lite.js" data-events="true"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wydarzenia, eventy, informacje Książnicy myśli antyautorytarnej i galerii Czôrny Kòt.">
    <meta name="author" content="Jacek Krawczewski, Arkadiusz Jastrzębski i wielu innych sympatyków Książnicy Czôrny Kòt.">

    <link rel="apple-touch-icon" href="{% static 'czarny_kot/assets/img/favicon/logotyp_CzornyKot_180x180.png' %} " sizes="180x180">
    <link rel="icon" href="{% static 'czarny_kot/assets/img/favicon/logotyp_bt-k-czk.svg' %}" media="(prefers-color-scheme: light)" sizes=any type="image/svg+xml">
    <link rel="manifest" href="{% static 'czarny_kot/assets/img/favicon/manifest.json' %}">

    <link rel=”mask-icon” href=”{% static 'czarny_kot/assets/img/favicon/logotyp_CzornyKot_180x180.svg' %}” color=”#000000">
    <meta name="theme-color" content="#212529">
    <title>Książnica Czôrny Kòt</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="{% static 'czarny_kot/bootstrap-5.3.2/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'czarny_kot/assets/css/carousel.css' %}" rel="stylesheet">
    <link href="{% static 'czarny_kot/assets/css/czarny_kot.css' %}" rel="stylesheet">
  </head>

  <body>
    <header data-bs-theme="dark">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand " aria-current="page" href="../">Czôrny Kòt</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              {% nav_links_fill as nav_links %}
              {% for item in nav_links %}
                <li class="nav-item">
                  <a class="nav-link" data-lta-event="topmenu-{{ item.1 }}" href="{{ item.0 }}">{{ item.1 }}</a>
                </li>
              {% endfor %}
            </ul>
            <div class="d-flex ">
              <a href="https://www.facebook.com/CzornyKotSL" target=_blank class="align-self-center overlay-it" aria-label="Idź do Facebooka">
                 <img class="" style="width: 35px;" src="{% static 'czarny_kot/assets/img/social/facebook-white.png' %}"></a>
              <div class="ms-2"><a href="../admin" class="btn btn-dark" aria-label="Zaloguj do CMS">Zaloguj</a></div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      {% block content %}{% endblock %}
      <!-- FOOTER -->
      <footer class="container">
        <p class="float-end"><a class="text-dark" href="#" aria-label="Go to the top of site">Wróć na górę</a></p>
        <p class="text-dark">Czôrny Kòt 2023 <!-- <a class="text-dark" href="#" aria-label="Read statute of association">Statut</a> &middot; <a class="text-dark" href="#" aria-label="Read about rulse of Czôrny Kòt">Regulamin Książnicy Czôrny Kòt</a> --></p>
      </footer>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    {% block javascript %}{% endblock %}
    {% block jQuery %}{% endblock %}

  </body>
</html>
