{% extends "czarny_kot/base.html" %}
{% load static %}

{% block content %}
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center row">
      <div class=" col-md-6">
        <img src="{% static 'czarny_kot/assets/img/favicon/logotyp_czarny_kot512x512.png' %}" alt="" class="img-fluid">
      </div>
        <div class=" col-md-6 mt-5">
            <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
            <p class="lead">
 page you’re looking for doesn’t exist.
            </p>
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>

    </div>
  </div>
{% endblock %}