{% extends "czarny_kot/base.html" %}
{% load static %}

{% block content %}
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center row">
      <div class=" col-md-6">
        <img src="{% static 'czarny_kot/assets/img/favicon/logotyp_czarny_kot512x512.png' %}" alt="" class="img-fluid">
      </div>
        <div class=" col-md-6 mt-5">
            <p class="fs-3"> <span class="text-danger">Łojejku!</span> Nie ma takiej strony</p>
            <p class="lead">
                 Strona, której adres wpisałeś nie istnieje w najgłębszych zakamarkach mroku :)
            </p>
            <a href="{% url 'home' %}" class="btn btn-dark">Idź do strony głównej</a>
        </div>

    </div>
  </div>
{% endblock %}